<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				  <span class="icon-toggle"></span>
			  </button>
			  <a class="navbar-brand">Monitoramento PALMAS - Sistema SAVE</a>
			</div>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				
				<li class="dropdown">
				  <a class="dropdown-toggle" style="color:#FFF;" role="button" data-toggle="dropdown" href="#">Mais <span class="caret"></span></a>
				  <ul id="g-account-menu" class="dropdown-menu" role="menu">
					<li><a href="#linklocaldoadmdafilial">ADMIN CPD</a></li>
				  </ul>
				</li>
			  </ul>
			</div>
		  </div><!-- /container -->
</div>
	