<!DOCTYPE html>
<html lang="en" ng-app="MonitorApp">
	<head>
		<meta charset="utf-8">
		<title>MonitorNew</title>
		<link href="node_modules/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="node_modules/styles.css" rel="stylesheet">
		<script src="node_modules/angular/angular.min.js"></script>
		<script>
			const app = angular.module('MonitorApp' , []);
			app.controller('monitor' , function($scope, $window, $interval, $timeout, $location, $http){
				const baseApi = "http://palmas/monitor_new/api/index.php/";
				$scope.isLoading = $scope.isLoadingPrint = true;
				$scope.memoria = $scope.cpu = {};
				$scope.programas = $scope.impressoras = $scope.files = [];
				
				const init = function(){
					$interval( loadCPU , 1000);
					
					$interval( loadMemoria , 2000);
					
					$interval( loadProgramas, 2000);
					
					$interval( loadImpressoras, 2000);
					
					$interval( loadUsuarios, 2000);
					
					$interval( loadFilesSystem , 3500 );
					
					$timeout( function(){$scope.isLoading = false;}  , 4000 );
					
					$timeout( function(){$scope.isLoadingPrint = false;}  , 6000 );
				};
				
				const testeApi = function(){
					$http.get(baseApi+'teste').success(function(data){
						console.log(data);
					});
				};
				
				const loadMemoria = function(){
					$http.get(baseApi+'memoria').success(function(data){
						$scope.memoria = data;
						console.log($scope.memoria);
					});
				};
				
				const loadCPU = function(){
					$http.get(baseApi+'cpu').success(function(data){
						$scope.cpu = data;
						console.log($scope.cpu);
					});
				};
				
				
				const loadProgramas = function(){
					$http.get(baseApi+'programas').success(function(data){
						$scope.programas = data;
						console.log($scope.programas);
					});
				};
				
					
				const loadImpressoras = function(){
					$http.get(baseApi+'impressoras').success(function(data){
						$scope.impressoras = data;
						console.log($scope.impressoras);
					});
				};
				
				const loadUsuarios = function(){
					$http.get(baseApi+'usuarios').success(function(data){
						$scope.usuarios = data;
						console.log($scope.usuarios);
					});
				};
				
				const loadFilesSystem = function(){
					$http.get(baseApi+'files').success(function(data){
						$scope.files = data;
						console.log($scope.files);
					});
				};
				
				init();
			});
		</script>
	</head>
	<body ng-controller="monitor">		 
		<div ng-include="'base.html'" style="margin-bottom: -20px;"></div>	
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<h4><img border='0' src='img/processador.png' width='24' height='24'> Processador / Mem&oacute;ria</h4>
					<hr>
					<div ng-hide="isLoading">
						<small>CPU {{ cpu.valor_cpu }}%</small>
						  <div class='progress'>
							<div class='progress-bar' role='progressbar' aria-valuenow='72' aria-valuemin='0' aria-valuemax='100' ng-class="{ 'progress-bar-success': cpu.valor_cpu  <= 30, 'progress-bar-warning': cpu.valor_cpu  > 30 && cpu.valor_cpu  <= 60 , 'progress-bar-danger': cpu.valor_cpu  > 60}" style='width: {{ cpu.valor_cpu }}%'>
						  </div>
						</div>
						
						<small>Memoria [ {{ memoria.mem_total }} MB Total ] <br> [ {{ memoria.mem_used }} MB / {{ memoria.valor_mem }} utilizados ]</small>
						<div class='progress'>
						  <div  class="progress-bar" role='progressbar' aria-valuenow='72' aria-valuemin='0' aria-valuemax='100'   ng-class="{ 'progress-bar-success': memoria.qtd_mem_used <= 30, 'progress-bar-warning': memoria.qtd_mem_used > 30 && memoria.qtd_mem_used <= 60 , 'progress-bar-danger': memoria.qtd_mem_used > 60}" style='width: {{ memoria.valor_mem }}'>
							<span class='sr-only'>20% Complete</span>
						  </div>
						</div>
						
						<small>SWAP [ {{ memoria.mem_total_swap }} MB Total ] <br> [ {{ memoria.mem_used_swap }} MB / {{ memoria.valor_mem_swap }} utilizados ]</small>
						<div class='progress'>
						  <div  class="progress-bar" role='progressbar' aria-valuenow='72' aria-valuemin='0' aria-valuemax='100'   ng-class="{ 'progress-bar-success': memoria.qtd_mem_used_swap <= 30, 'progress-bar-warning': memoria.qtd_mem_used_swap > 30 && memoria.qtd_mem_used_swap <= 60 , 'progress-bar-danger': memoria.qtd_mem_used_swap > 60}" style='width: {{ memoria.valor_mem_swap }}'>
							<span class='sr-only'>20% Complete</span>
						  </div>
						</div>	
					</div>
					<div ng-show="isLoading" style="height: 200px;"><h6 calss="text-muted">Aguarde...</h6></div>
				
				</div>
				
				
				<div class="col-md-3">
					<h4><img border='0' src='img/estatistica.png' width='24' height='24'> Utiliza&ccedil;&atilde;o dos Files Systems</h4> 
					<hr>
					<div ng-hide="isLoading">
						<div ng-repeat="file in files">
							<div class="row">
								<small style="font-size: 12px;">
								<div class="col-md-2">{{ file.dir }}</div>
								  
								<div class="col-md-2">{{ file.tam_total }} </div>
								
								<div class="col-md-2">{{ file.porc }}%</div>
								 
								<div class="col-md-6">
									<div class='progress'><div class='progress-bar pogress-bar-success' role='progressbar' aria-valuenow='72' aria-valuemin='0' aria-valuemax='100' style='width: {{ file.porc }}%' ng-class="{ 'progress-bar-success': file.porc <= 49, 'progress-bar-warning': file.porc > 49 && file.porc <= 79 , 'progress-bar-danger': file.porc > 79}"></div></div>  
								</div>
								</small>
							</div>
						</div>
					</div>
					<div ng-show="isLoading"><h6 calss="text-muted">Aguarde...</h6></div>
				
				</div>
				
				
				<div class="col-md-3">
					<h4><img border='0' src='img/file.png' width='24' height='24'> Programas / Situa&ccedil;&atilde;o</h4>
					<hr>
					<div ng-hide="isLoading">
						<div ng-repeat="programa in programas">
							<div class="row">
							    <small>
								<div class="col-md-4">
									{{ programa.programa | uppercase }}
								</div>	
								<div class="col-md-8">
									<span ng-if="programa.ver_nota" class="label label-success">
										<img border='0' src='img/ok.png' title='Habilitado' width='16' height='16'> HAB. / <img border='0' src='img/user.png' title='Pelo usuário' width='16' height='16'> {{ programa.usuario | uppercase }}
									</span>
									<span ng-if="!programa.ver_nota" class="label label-danger">
										<img border='0' src='img/off.png' title='Desabilitado' width='16' height='16'> PROGRAMA FORA DO AR
									</span>		
								</div>
								</small>	
							</div>
						</div>
					</div>
					<div ng-show="isLoading"><h6 calss="text-muted">Aguarde...</h6></div>
				
				</div>
				
				
				<div class="col-md-3">
					<h4><img border='0' src='img/print.png' width='24' height='24'> Impressoras / Print</h4>
					<hr>
					<div ng-hide="isLoadingPrint">
						<div ng-repeat="impressora in impressoras">
							<div class="row">
								<small>
								<div class="col-md-1">
									<span ng-if="impressora.isOn"><img border='0' src='img/ok.png' width='16' height='16'></span>
									<span ng-if="!impressora.isOn"><img border='0' src='img/off.png' width='16' height='16'></span>
								</div>
								<div class="col-md-1">
									<a href="http://{{ impressora.ip }}" target="_blank"><img border='0' src='img/conect.png' width='16' height='16'></a>
								</div>
								<div class="col-md-10">
									{{ impressora.impressora | uppercase }}
								</div>
								</small>
							</div>	
						</div>
					</div>
					<div ng-show="isLoadingPrint"><h6 calss="text-muted">Aguarde...</h6></div>			
				</div>	
				
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h4><img border='0' src='img/user.png' width='16' height='16'> Usu&aacute;rio(s) logado(s)</h4>
					<hr>
					<div ng-hide="isLoading">
						<small>
						<div class='text-left'>H&aacute; neste momento {{ usuarios.qtdOnline }} usu&aacute;rios logados neste servidor.</div>
						<div  class="row" ng-repeat="usuario in usuarios.list">
							<div  class="col-md-3" ng-repeat="u in usuario" style="color: white;">
								<img border='0' src='img/user.png' width='16' height='16' />&nbsp; {{ u }}
							</div>
						</div>
						</small>
					</div>	
					<div ng-show="isLoading" style="height: 200px;"><h6 calss="text-muted">Aguarde...</h6></div>
				
				</div>
			</div>
			
			
		</div>
	</body>
</html>	
	

